<!DOCTYPE html>
<html>
  <head>
    <title>levkofa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400&family=Roboto+Mono:wght@300;400&family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'levkofa' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
